#XfceNotifyWindow {
    background-color: #4d4d4d;
    border-radius: 1px;
    border: 1px solid #eeeeee;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    border-width: 2px;
    border-color: #eeeeee;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #eeeeee;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #202020;
    color: #eeeeee;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #404040;
    color: #eeeeee;
}
